@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@400;600;700&family=K2D:wght@300&display=swap");
.container {
  background-color: #333333;
  height: 100vh;
}

.main {
  margin-top: 4rem;
  display: flex;
}
.L,
.R {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #1fe857;
  height: 75vh;
  width: 50%;
}

.introTitle {
  width: 8.5rem;
  height: 2.25rem;
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
  color: #ffffff;
  align-self: flex-start;
  margin-left: 14.2rem;
  margin-top: 4rem;
}
.intro {
  width: 31.25rem;
  height: 44.813rem;
  background: #333333;
  border: 2px solid #1fe857;
}

.image {
  border: 2px solid green;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin-bottom: 0.5rem;
}
.profilePic {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin-bottom: 3rem;
}

.skillsTitle {
  width: 19rem;
  align-self: flex-start;
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 36px;
  color: #ffffff;
  margin-left: 9.2rem;
}

.skills {
  width: 41rem;
  height: 20.563rem;
  background: #333333;
  border: 2px solid #1fe857;
  margin-top: 0;
}
