@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@400;600;700&family=K2D:wght@300&display=swap");
.container {
  background-color: #333333;
  height: 100vh;
  overflow: scroll;
}

.main {
  margin-top: 1rem;
  display: flex;
  /* border: 1px solid red; */
}
.L,
.R {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  border: #1fe857;
  height: 75vh;
  width: 50%;
  margin-top: 0;
}
.R {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
.introTitle {
  margin-left: 1rem;
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}
.intro {
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  height: 44.813rem;
  background: #333333;
}
.introDiv {
  border: 1px solid red;
}
.introUl {
  list-style: none;
  /* border: 1px solid greenyellow; */
}
.introLi {
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: var(--light-grey);
}

.skills {
  width: 100;
  height: 20.563rem;
  background: #333333;
  margin-top: 0;
  margin-left: 2rem;
  border: 2px solid var(--neon-green);
  padding: 0.5rem;
  padding-right: 0;
}
.skillsTitle {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  margin-left: 2rem;

  color: #ffffff;
}
