.container {
  background-color: var(--main-black);
}

.main {
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  background-color: #333333;
}

.buttonContainer {
  display: flex;
  margin: 0;
}

.button {
  margin: 1rem;
  width: 6rem;
  height: 1.5rem;
  align-self: center;

  border-radius: 10px;
  box-shadow: 4px 4px 4px var(--neon-green);
}

.commentContainer {
  overflow-y: auto;
  height: 20rem;
  border: 1px solid turquoise;
}

.instructions {
  color: var(--neon-green);
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 13.1052px;
  line-height: 14px;
}
