.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333333;
  height: 100vh;
  width: 100vw;
}

.logo {
  margin-bottom: 10rem;
  width: 10rem;
}

.intro {
  display: flex;
  flex-direction: row;
}
.name {
  margin-left: 0.5rem;
  color: #217e2a;
}

.button {
  margin-top: 3rem;
  height: 4rem;
  width: 10rem;
  border: 1px solid #ffffff;
  background-color: #333333;
  text-decoration: underline;
  font-size: 1.5rem;
  border-radius: 25px;
  box-shadow: 3px 3px 20px #217e2a;
  color: #ffffff;
}
