.container {
  height: 100vh;
  background-color: var(--main-black);
}

.infoContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
.display {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
