.container {
  width: 850px;
  background-color: var(--light-grey);
  padding: 1rem;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.lists {
  margin: 1rem;
}
.tech,
.link {
  margin: 1rem;
}
.photos {
  border: 1px solid red;
}
