.master {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
.container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-grey);
  margin: 10% auto;
  padding: 1.25rem;
  border: 1px solid var(--neon-green);
  width: 50rem;
  height: 18rem;
  border-radius: 10px;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.lists {
  margin: 1rem;
}
.tech,
.link {
  margin: 1rem;
}
.photos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.thumbnails {
  width: 36rem;
  margin: 1rem;
}
