.container {
  height: 10rem;
  width: 850px;
  background-color: var(--light-grey);
}

.titleBox {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.info {
  margin: 1rem;
  color: var(--dark-black);
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 13.1052px;
  line-height: 14px;
}
