.container {
  height: 10rem;
  width: 50rem;
  background-color: var(--comment-grey);
  margin: 2rem;
  border-radius: 10px;
}

.nameAndButton,
.topicContainer {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.paragraphContainer {
  margin: 1rem;
}
.nameAndButton {
  justify-content: space-between;
  flex-direction: row;
}

.input {
  color: var(--dark-black);
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 23.2207px;
  line-height: 24px;
}

.name,
.topic {
  color: #6e6e6e;
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-size: 23.2207px;
  line-height: 24px;
  margin-right: 1rem;
}

.nameContainer {
  display: flex;
}

.close {
  margin-left: 1rem;
}
