@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=K2D:wght@300&display=swap");

.container {
  height: 8rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--navbar-background);
  filter: drop-shadow(0px 4px 4px #1fe857);
  /* border: 3px solid gold;*/
}

.mediaContainer {
  display: flex;
  width: 30rem;
  /* border: 2px solid red; */
}
.logoContainer {
  display: flex;
  width: 30rem;
  justify-content: center;
  align-items: center;
  /* border: 2px solid turquoise; */
}
.linkContainer {
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  padding: 0%;
  margin: 0;
  /* border: 2px solid red; */
}

.logo {
  height: 6.3rem;
  width: 7rem;
}
.linkedin,
.github {
  margin-left: 1rem;
  margin-right: 2rem;
  color: var(--dark-black);
  align-self: flex-end;
}

.linkUl {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin: 0;
}

.linkLi {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  color: var(--dark-black);
  list-style: none;
  font-size: larger;
  font-family: "Inter", sans-serif;
}
